@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.auth-one-bg {
  background-image: url('/assets/images/login-bg.webp');
  background-position: center;
  background-size: cover;
}

.auth-one-bg .bg-overlay {
  background: -webkit-gradient(linear, left top, right top, from(#2196F3), to(#009688));
  background: linear-gradient(to right, #2196F3, #009688);
  opacity: .8;
}

.fadeInDown {
  animation-name: fadeInDown;
  animation-duration: 1.5s;
  animation-fill-mode: both;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  50% {
    opacity: .5;
    transform: translate3d(0, 20%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

/* Fade-in Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  animation: fadeIn ease-in 1s;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.fadeIn.first {
  animation-delay: 0.4s;
}

.fadeIn.second {
  animation-delay: 0.6s;
}

.fadeIn.third {
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  animation-delay: 1s;
}

/* Fade-in Animation */
.auth-page-wrapper .auth-page-content {
  position: inherit;
}

.auth-one-bg-position {
  height: 500px;
  z-index: 0;
}

.collapse {
  visibility: visible;
}

.coming-soon-text {
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 3px 4px #b4bdb9;
}

#light canvas {
  max-height: 55%;
  position: relative;
  overflow: hidden;
}

.dropzone {
  border: 1px dashed rgb(175 175 175 / 80%);
}


/* new enquiry */
.choices {
  margin-bottom: 0;
}

a {
  cursor: pointer;
}

#requestEnqDiv {
  padding: 0 0.5rem;
  display: none;
}


.timeline-2 .timeline-box {
  margin: 5px 62px;
  padding: 10px 20px;
}

lord-icon {
  height: 7.5rem !important;
  width: 7.5rem !important;
}

.slideAnim {
  animation: 1900ms ease-in-out 0s normal none 1 running bounceInRight;
  /* Capital 'R' */
  transition: 0.5s !important;
  display: block !important;
}

.slideContent {
  transition: 3s;
  display: none;
}

@keyframes bounceInRight {
  0% {
    opacity: 0.5;
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    transform: translateX(20px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

.animateds {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  /* animation-iteration-count: 1; */
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.pulse {
  animation-name: pulse;
  animation-duration: 0.5s;
}

.auth-one-bg-space{
  background: url("/assets/images/sesionExpired.jpg");
}

/* Component Loader Css Start */

.delayLoaderOverlay {
  position: absolute;
  background: #ffffffa1;
  width: 100%;
  height: 100%;
  /* Set overlay height to 100% */
  z-index: 9;
  top: 0;
  /* Adjust top position to start from the top of the card body */
  left: 0;
  /* filter: blur(5px); */
}

.delayLoader {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #c0c0c0;
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
  z-index: 99;
}

@keyframes animloader {
  0% {
    box-shadow: -38px -12px, -14px 0, 14px 0, 38px 0;
  }

  33% {
    box-shadow: -38px 0px, -14px -12px, 14px 0, 38px 0;
  }

  66% {
    box-shadow: -38px 0px, -14px 0, 14px -12px, 38px 0;
  }

  100% {
    box-shadow: -38px 0, -14px 0, 14px 0, 38px -12px;
  }
}

/* Component Loader Css End */

/* .shadowColor{
  filter: drop-shadow(0 0.3rem 2 rgb(20, 86, 148, 1));
} */



.swal2-container {
  z-index: 20000 !important;
}



/* loader css */

.data-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  margin-top: -26px;
  text-align: center;
  padding: 2px;
}

.data-loader>div:last-child {
  position: relative;
  width: 80px;
  height: 15px;
  margin: 1em auto;
}

.data-loader>div:last-child>div {
  position: absolute;
  top: 0;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #687cfe;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.data-loader>div:last-child>div:nth-child(1) {
  left: 8px;
  animation: data-loader-1 0.6s infinite;
}

.data-loader>div:last-child>div:nth-child(2) {
  left: 8px;
  animation: data-loader-2 0.6s infinite;
}

.data-loader>div:last-child>div:nth-child(3) {
  left: 32px;
  animation: data-loader-2 0.6s infinite;
}

.data-loader>div:last-child>div:nth-child(4) {
  left: 56px;
  animation: data-loader-3 0.6s infinite;
}

@keyframes data-loader-1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes data-loader-2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

@keyframes data-loader-3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}


.form-control{
padding: 0.5rem 2rem !important;
}

.success-radial-gradient{

  background: radial-gradient(#bbe3cf85, transparent);
  
}

.success-radial-gradient ::after{
  transform: scale(1);
}

.pending-radial-gradient {
  background: radial-gradient(#edd7d196, transparent);
}

.failed-radial-gradient {
  background: radial-gradient(#f3cfd18c, transparent);
}

